@keyframes objeveni {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes zmizeni {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
    z-index: -1;
  }
}

* {
  margin: 0;
  padding: 0;;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}

h2 {
  width: 100%;
  text-align: center;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: black;
  text-decoration: underline;
  transition: 1s;
  cursor: pointer;
}

ul li {
  list-style: none;
}

img {
  object-fit: cover;
}

p {
  padding: 0 1rem;
}

h2 {
  padding: 1rem 0;
}
h1 {
    text-shadow:
    -1px -1px 0 white,
    1px -1px 0 white,
    -1px 1px 0 white,
    1px 1px 0 white;
    font-size: 5rem;
}

/*#region o me*/
.first {
  padding: 0 2rem 2rem 2rem;
  display: grid;
}

.first img {
  max-width: 100%;
  width: 100%;
}

/*#endregion*/
/*#region vzdelani*/
.timeline {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
}

.timeline::after {
  content: "";
  position: absolute;
  width: 6px;
  background-color: black;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -3px;
}

.container {
  padding: 10px 40px;
  position: relative;
  background-color: inherit;
  width: 50%;
}

.container::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  right: -17px;
  background-color: white;
  border: 4px solid #ff9f55;
  top: 15px;
  border-radius: 50%;
  z-index: 1;
}

.left {
  left: 0;
}

.right {
  left: 50%;
}

.left::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  right: 30px;
  border: medium solid black;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent black;
}

.right::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  left: 30px;
  border: medium solid black;
  border-width: 10px 10px 10px 0;
  border-color: transparent black transparent transparent;
}

.right::after {
  left: -16px;
}

.content {
  padding: 20px 30px;
  border: 2px solid black;
  position: relative;
  border-radius: 6px;
}

/*#endregion*/
/*#region projekty*/
#project {
  display: grid;
  grid-template-columns: 1fr;
}

/*#endregion*/
/*#region hamburger+head */
.head {
  width: 100%;
  background-color: rgb(255,255,255,0.5);
  z-index: 100;
  top: 0;
  justify-content: space-between;
  position: sticky;
}

.menu {
  background-color: white;
  z-index: 100;
  height: 100vh;
  width: 100%;
  max-width: 450px;
  position: fixed;
  top: 0;
  right: -450px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 2rem;
  transition: 0.3s ease;
}

.menu.active {
  right: 0;
}

.main {
  display: flex;
  height: 100vh;
  width: 100%;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /*background-image: url("../img/backgound.jpg");*/
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

nav {
  color: black;
  z-index: 100;
  padding: 1rem;
  display: flex;
  top: 0;
  position: sticky;
}

.ham_menu {
  z-index: 200;
  height: 2rem;
  width: 2rem;
  margin-left: auto;
  position: relative;
  cursor: pointer;
}

.ham_menu span {
  height: 0.2rem;
  width: 100%;
  background-color: black;
  border-radius: 25px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 0.3s ease;
}

.ham_menu:hover span {
  background-color: rgb(60, 60, 202);
}

.ham_menu span:nth-child(1) {
  top: 25%;
}

.ham_menu span:nth-child(3) {
  top: 75%;
}

.ham_menu.active span:nth-child(1) {
  top: 40%;
  transform: translate(-50%, 50%) rotate(45deg);
}

.ham_menu.active span:nth-child(2) {
  opacity: 0;
}

.ham_menu.active span:nth-child(3) {
  top: 40%;
  transform: translate(-50%, 50%) rotate(-45deg);
}

/*#endregion*/
/*#region section */
section {
  background-color: white;
  padding-top: 1.2rem;
}

section,
footer {
width: 90%;
}
/*#endregion */
/*#region konicky*/
.hobby_container {
  width: 90%;
  background-color: inherit;
  margin: auto;
}
#hobby {
  position: relative;
  z-index: 10;
}
#hobby article {
  z-index: 1;
  background-color: inherit;
  width: 100%;
  height: 30vh;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  border-radius: 1rem;
  transition: transform 1s, width 1s, border 1s, z-index 0s 1s;
  cursor: pointer;
}
#hobby button {
  position: absolute;
  display: block;
  opacity: 0;
  visibility: hidden;
  transition: opacity 1s, visibility 1s;
  width: 2rem;
  font-size: 1rem;
  border: none;
  height: 100%;
  background-color: hsl(0, 0%, 50%, 50%);
}
#hobby .textfoto {
  display: block;
  height: 0;
  font-size: 1rem;
  opacity: 0;
  visibility: hidden;
  transition: opacity 1s, visibility 1s;
  animation: zmizeni 1s forwards;
}
#hobby h3 {
  position: absolute;
  animation: objeveni 1s forwards;
  text-shadow:
    -1px -1px 0 white,
    1px -1px 0 white,
    -1px 1px 0 white,
    1px 1px 0 white;
  z-index: 2;
}
#hobby .image_gallery {
  width: 100%;
  position: relative;
  height: inherit;
}
#hobby .current_image {
  width: 100%;
  height: inherit;
  max-height: 30vh;
  display: block;
}
.next {
  right: 0;
}
#hobby article.active button {
  cursor: pointer;
}
#hobby article.active button,
#hobby article.active .textfoto {
  opacity: 1;
  visibility: visible;
  animation: objeveni 1s forwards;
}
#hobby article.active .textfoto {
  width: 100%;
  height: 100%;
  text-align: center;
}
#hobby article.active h3 {
  animation: zmizeni 1s forwards;
}
#hobby article.active {
  transition: transform 1s, width 1s, border 1s, z-index 0s 0s;
  z-index: 3;
  width: 100%;
  height: fit-content;
  transform: scale(1.2);
  border: 2px solid black;
}
/*#endregion konicky*/
/*#region footer*/
footer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: gray;
  margin: auto;
  align-items: center;
  padding: 10px;
}

footer img {
  border-radius: 50%;
  width: 80%;
  margin: auto;
}
footer li {
  padding: 5px;
}

footer a {
  padding-left: 5px;
}

/*#endregion*/
/*#region @media */
@media screen and (min-width: 800px) {
  .head {
    display: flex;
    padding: 5px;
  }
  .menu {
    order: 2;
    background-color: unset;
    height: initial;
    width: initial;
    max-width: initial;
    position: relative;
    top: initial;
    columns: 5;
    right: initial;
    display: initial;
    flex-direction: initial;
    justify-content: initial;
    align-items: initial;
    text-align: initial;
    font-size: 1.5rem;
    margin: 0 20px;
  }
  
  .menu li {
    text-align: right;
  }
  
  .ham_menu {
    display: none;
  }
  
  nav {
    padding: 0;
  }
  
  .head h3 {
    font-size: 1.5rem;
    padding: 0;
  }
  
  .first {
    grid-template-columns: 1fr 1fr;
  }
  
  .first:nth-of-type(even) img,
  .first:nth-of-type(even) a {
    grid-column: 2;
    grid-row: 1;
  }
  
  .first:nth-of-type(even) p {
    grid-column: 1;
    grid-row: 1;
  }
  
  #project .first:last-of-type {
    grid-template-columns: 20% auto;
  }
  
  footer img {
    border-radius: 50%;
    width: 50%;
  }
  .hobby_container {
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr 1fr;
  }
  #hobby h2 {
    grid-column: span 2;
  }
  #hobby article {
    transform-origin: top left;
    height: 20vh;
  }
  #hobby article.active {
    transform: scale(2);
    height: 20vh;
    z-index: 3;
    flex-direction: row;
  }
  #hobby article:nth-of-type(even) {
    transform-origin: top right;
  }
  #hobby article.active .textfoto {
    text-align: left;
  }
}

@media screen and (min-width: 1200px) {
  #project {
    grid-template-columns: 1fr 1fr;
  }

  #project h2 {
    grid-column: span 2;
  }

  .first:nth-of-type(even) img,
  .first:nth-of-type(even) a {
    grid-column: 1;
    grid-row: 1;
  }

  .first:nth-of-type(even) p {
    grid-column: 2;
    grid-row: 1;
  }

  footer img {
    border-radius: 50%;
    width: 40%;
  }
  .hobby_container {
    grid-template-columns: 1fr 1fr 1fr;
  }
  #hobby article:nth-of-type(3n) {
    transform-origin: top right;
  }
  #hobby article:nth-of-type(3n-1) {
    transform-origin: top center;
  }
  #hobby article:nth-of-type(3n-2) {
    transform-origin: top left;
  }
  #hobby h2 {
    grid-column: span 3;
  }
}

/*#endregion*/

/* Základní stav (skryto) */
.main > :not(video), 
section > *, 
footer > * ,
.hobby_container > article{
    opacity: 0;
    transition: opacity 0.5s ease, transform 0.5s ease;
    will-change: opacity, transform;
}

/* Stav při zobrazení */
.is-visible {
    opacity: 1 !important;
}
/* CSS */
.back-video {
    position: fixed;
    top: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1; /* Umístí video za obsah */
    object-fit: cover; /* Zachová poměr stran jako background-size: cover */
}
.gallery-img:fullscreen {
  width: 100vw;
  height: 100vh;
  object-fit: contain; /* Obrázek se ořízne, aby se vešel */
  background-color: black;
}
